@charset "utf-8";

main {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px;
  margin: 50px auto;
  height: 200vh;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.modalOpen, .modalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color:red;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.modalClose {
  margin: 30px auto;

}


.modal {
  position: fixed; /* 固定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 500px; /*幅*/
  z-index: 2;
}

.modal h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.modalContents {
  line-height: 1.8;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}