@charset "utf-8";

main {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  margin: 50px auto;
  background-color: #eee;
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
}

ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-left: 3px;
}

#mainImage {
  width: 500px;
  height: 330px;
}