.dentaku {
  width: 300px;
  margin: 50px auto;
  background-color: red;
  padding: 30px;
}

.dentaku-input {
  width: 100%;
  height: 60px;
  text-align: right;
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 3px;
}

table {
  width: 100%;
}

tr button {
  height: 70px;
  width: 70px;
  font-size: 25px;
  border-radius: 8px;
  margin: 2px 0px 0px 0px;
  cursor: pointer;
}
