/* body {
  background-color: teal;
} */

.wrapper {
  background-color: green;
  width: 50%;
  margin: 0 auto;

}

h1 {
  background-color: red;
}

.new-task {
  background-color: blue;
}

input {
  background-color: yellow;
}


li {
  list-style: none;
}

ul {
  padding: 0;
}
.task-list {
  background-color: pink;
}