body {
  background-color: teal;
}

#wrapper {
  padding-top: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1 {}

ul {
  list-style: none;
}

.todo {
}

.input {
}

.do {
  text-decoration: line-through;
}